{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}
    <h1>Mes informations</h1>

    {% include '_partials/_flashbag.html.twig' %}

    {{ form_start(form) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.username) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.birthday) }}
        {{ form_row(form.email) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_delete_user') }}">Supprimer mon compte</a>
{% endblock %}
