<h2 class="form-account first">Connexion :</h2>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% include '_partials/_flashbag.html.twig' %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <label for="inputEmail"></label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
           placeholder="Email" autocomplete="email" required autofocus>
    <label for="inputPassword"></label>
    <input type="password" name="password" id="inputPassword" class="form-control"
           placeholder="Mot de passe" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    #}

    <button class="btn btn-white" type="submit">
        Se connecter
        <i class="far fa-caret-square-right"></i>
    </button>
</form>

<div class="forget-pwd">
    <a href="{{ path('app_forgot_password_request') }}">
        Mot de passe oublié
        <i class="fas fa-arrow-right"></i>
    </a>
</div>