{% extends 'base.html.twig' %}

{% block title %}Mon compte - WR{% endblock %}

{% block body %}

    <h1 class="bandeau">Créer un compte</h1>

    <div class="container">
        <div id="account" class="row">
            <div class="col-12 col-lg-6">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                <h2 class="form-account">Inscription :</h2>
                <p>
                    Vous avez déjà un compte ?
                    <a href="{{ path('app_login') }}">
                        Connectez-vous
                    </a>
                </p>
                {{ form_start(registrationForm, { 'attr': {'class': 'form-register'} }) }}

                    {% include '_partials/_flashbag.html.twig' %}

                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.password) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-white">
                        S'inscrire
                        <i class="far fa-caret-square-right"></i>
                    </button>

                {{ form_end(registrationForm) }}

            </div>
        </div>
    </div>

{% endblock %}
