{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    {#<div id="categories"></div>#}

    {% for exercise in exercises %}

        <a href="{{ path('exercise_show', {'id': exercise.id}) }}">
            <img src="{{ exercise.image }}" alt="séances" width="300" height="300">
            {{ exercise.title }}
            {{ exercise.description }}
            {{ exercise.indication }}
        </a>

    {% else %}
        <p>Page non trouvée</p>
    {% endfor %}

    <a href="{{ path('category_new') }}">Create new</a>

    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
