{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <h1 class="bandeau">{{ category.title }}</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for exercise in exercises %}

                    <a href="{{ path('exercise_show', {'id': exercise.id}) }}">
                        <img src="{{ exercise.image }}" alt="séances" width="300" height="300">
                        {{ exercise.title }}
                    </a>

                {% else %}
                    <p>Page non trouvée</p>
                {% endfor %}

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

                    {{ include('category/_delete_form.html.twig') }}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
