{% extends 'base.html.twig' %}

{% block title %}Exercise{% endblock %}

{% block body %}
    <h1 class="bandeau">{{ exercise.title }}</h1>

    <div class="container">
        <div id="exercise" class="row">
            <div class="col-12 text-center">
                <img src="{{ exercise.media }}" alt={{ exercise.title }} width={{ 300 }}>
            </div>
            <div class="col-12 text-center">
                {{ form_start(form, {'attr': {'class': 'mt-4'}}) }}
                <div class="form-group">
                    {{ form_widget(form.time) }}
                    {{ form_widget(form.quantity, {
                        'attr': {
                            'class': (form.quantity.vars.valid ? '' : 'is-invalid'),
                            'placeholder': 'Quantité'
                        }
                    }) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.quantity) }}
                    </div>
                </div>
                {{ form_widget(form.add) }}
                {{ form_end(form) }}
                {#<form class="mt-5" method="post">
                    <div class="form-group">
                        <input type="number" id="quantity" placeholder="Quantité">
                    </div>
                    <button class="btn btn-white">
                        Ajouter un exercice
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </form>#}
                {#<button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#addExercice">
                    Ajouter un exercice
                    <i class="fas fa-plus-circle"></i>
                </button>#}

                <!-- Modal -->
                {#<div class="modal fade" id="addExercice" tabindex="-1" aria-labelledby="addExerciceLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addExerciceLabel">Exercices</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-6">
                                        Nom - nombre de fois - chronomètre
                                    </div>
                                    <div class="col-6">
                                        Vous avez "nombre d'exercices" dans votre séance <br>
                                        Temps de votre séance global
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    <i class="fas fa-arrow-left"></i>
                                    Ajouter d'autres exercices
                                </button>
                                <button type="button" class="btn btn-primary">
                                    <i class="fas fa-check"></i>
                                    Voir ma séance
                                </button>
                            </div>
                        </div>
                    </div>
                </div>#}
            </div>

            <div class="col-12">
                <div class="blockOne">
                    <h2>Description :</h2>
                    <div class="content">
                        <p>{{ exercise.description }}</p>
                    </div>
                </div>
                <div class="blockTwo">
                    <h2>Indication :</h2>
                    <p>{{ exercise.indication }}</p>
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                {#<a href="{{ path('exercise_edit', {'id': exercise.id}) }}">edit</a>#}

                {{ include('exercise/_delete_form.html.twig') }}
            {% endif %}

        </div>
    </div>

    <div id="launch" class="bg-secondary">
        <div class="link">
            <a href="{{ path('session_index') }}" class="text-white">
                <i class="fab fa-ello"></i>
                Ma séance
            </a>
        </div>
        <div class="link">
            <div class="content">
                {% if cart.items.count > 0 %}
                    {{ cart.total }}
                {% else %}
                    0
                {% endif %}
            </div>
            Exercices
        </div>
        <div class="link">
            <div class="content">
                {% if cart.items.count > 0 %}
                    {{ cart.time }}
                {% else %}
                    0
                {% endif %}
            </div>
            Temps
        </div>
    </div>

{% endblock %}
