{% extends 'base.html.twig' %}

{% block title %}Exercise{% endblock %}

{% block body %}
    <h1 class="bandeau">{{ exercise.title }}</h1>

    <div class="container">
        <div id="exercise" class="row">
            <div class="col-12 text-center">
                <img src="{{ exercise.image }}" alt="{{ exercise.title }}" width={{ 300 }}>
            </div>
            <div class="col-12 text-center">
                {{ form_start(form, {'attr': {'class': 'mt-4'}}) }}
                <div class="form-group">
                    {{ form_widget(form.time) }}
                    {{ form_widget(form.quantity, {
                        'attr': {
                            'class': (form.quantity.vars.valid ? '' : 'is-invalid'),
                            'placeholder': 'Quantité'
                        }
                    }) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.quantity) }}
                    </div>
                </div>
                {{ form_widget(form.add) }}
                {{ form_end(form) }}
            </div>

            <div class="col-12">
                <div class="blockOne">
                    <h2>Description :</h2>
                    <div class="content">
                        <p>{{ exercise.description }}</p>
                    </div>
                </div>
                <div class="blockTwo">
                    <h2>Indication :</h2>
                    <p>{{ exercise.indication }}</p>
                </div>
            </div>

            {#{% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('exercise_edit', {'id': exercise.id}) }}" class="btn btn-white w-100">Modification de l'exercice</a>

                {{ include('exercise/_delete_form.html.twig') }}
            {% endif %}#}

        </div>
    </div>

    <div id="launch" class="bg-secondary">
        <div class="link">
            <a href="{{ path('session_index') }}" class="text-white">
                <i class="fab fa-ello"></i>
                Ma séance
            </a>
        </div>
        <div class="link">
            <div class="content">
                {% if cart.items.count > 0 %}
                    {{ cart.total }}
                {% else %}
                    0
                {% endif %}
            </div>
            Exercices
        </div>
        <div class="link">
            <div class="content">
                {% if cart.items.count > 0 %}
                    {{ cart.time }}
                {% else %}
                    0
                {% endif %}
            </div>
            Temps
        </div>
    </div>

{% endblock %}
