{% extends 'base.html.twig' %}

{% block title %}Ma séance{% endblock %}

{% block body %}

    {{ form_start(formSession) }}
        <h1 class="bandeau create-session">{{ form_widget(formSession.title) }}</h1>

    <div id="cart-page" class="container">
        <div class="row">

            {% if cart.items.count > 0 %}

                <!-- Summary -->
                <div class="col-12 col-md-4">
                    <div class="card bg-transparent">
                        <h5 class="card-header d-none d-md-flex text-white">Total</h5>
                        <div id="launch-mobile" class="card-body">
                            <ul class="list-group list-group-flush d-none d-md-block">
                                <li class="list-group-item d-flex justify-content-between">
                                    <div><b>Exercices</b></div>
                                    <span><b>{{ cart.total }}</b></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <div><b>Temps</b></div>
                                    <span><b>{{ cart.time }}</b></span>
                                </li>
                            </ul>
                            {{ form_widget(formSession.launch) }}
                            {{ form_end(formSession) }}
                        </div>
                    </div>
                </div>

                <!-- List of exercises -->
                <div class="col-12 col-md-8">
                    {{ form_start(form) }}
                    <div class="card-header d-flex flex-column flex-md-row">
                        <h2 class="h5 text-white pb-3">Mes exercices</h2>
                        <div class="ml-auto d-flex">
                            {{ form_widget(form.save) }}
                            {{ form_widget(form.clear) }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for item in form.items %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="cart-img col-3">
                                        <img src="{{ item.vars.data.exercise.image }}" alt="{{ item.vars.data.exercise.title }}" width={{ 50 }}>
                                    </div>
                                    <div class="block-content col-9">
                                        <a href="{{ path('exercise_show', {'id': item.vars.data.exercise.id}) }}">
                                            <h3 class="mt-0 mb-0 h5">{{ item.vars.data.exercise.title }}</h3>
                                        </a>

                                        <small class="mobile">{{ item.vars.data.exercise.description[:50] }}...</small>
                                        <div class="form-inline mt-2">
                                            <div class="form-group mb-0">
                                                <div class="time d-flex">
                                                    {{ form_widget(item.time) }}
                                                </div>
                                                {{ form_widget(item.quantity, {
                                                    'attr': {
                                                        'class': 'form-control form-control-sm ' ~ (item.quantity.vars.valid ? '' : 'is-invalid')
                                                    }
                                                }) }}
                                                {{ form_widget(item.remove) }}

                                                <div class="invalid-feedback">
                                                    {{ form_errors(item.quantity) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    {{ form_end(form) }}
                </div>
            {% else %}
                <div class="alert alert-info">
                    Ta séance est vide. Voir <a href="{{ path('domain_index') }}">la liste des domaines</a>.
                </div>
            {% endif %}
        </div>
    </div>
    <div id="launch" class="bg-secondary">
        <div class="link">
            <i class="fas fa-cloud"></i>
            Enregistrer
        </div>
        <div class="link">
            <div class="content">
                {% if cart.items.count > 0 %}
                    {{ cart.total }}
                {% else %}
                    0
                {% endif %}
            </div>
            Exercices
        </div>
        <div class="link">
            <div class="content">
                {% if cart.items.count > 0 %}
                    {{ cart.time }}
                {% else %}
                    0
                {% endif %}
            </div>
            Temps
        </div>
        {#<div class="link">
            <a href="#}{#{{ path('session_show') }}#}{#">
                <i class="far fa-play-circle"></i>
                Lancer
            </a>
        </div>#}
    </div>

{% endblock %}
