{% extends 'base.html.twig' %}

{% block title %}Ma séance{% endblock %}

{% block body %}

    <div id="launch-one">
        <h1 class="bandeau">Exercice {{ title }}</h1>

        <div class="container">
            <div id="session" class="row">
                <div class="col-12">

                    {# Media #}
                    <div class="session-img">
                        <img src="{{ media }}" alt="exercice {{ title }}" width="150">
                    </div>

                    <div class="block-content">
                        <p><span>Préparez vous</span> la séance va se lancer</p>
                    </div>

                    {# Timer #}
                    <div id="countdown">
                        <div id="countdown-number"></div>
                        <svg>
                            <circle r="38" cx="39" cy="39"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for exercise in exercises %}

        {% set counter = ( counter | default(0) ) + 1 %}

    <div id="launch-{{ counter }}" class="d-none">
        <h1 class="bandeau">Exercice {{ title }}</h1>

        <div class="container">
            <div id="session" class="row">
                <div class="col-12">

                    {# Media #}
                    <div class="session-img">
                        <img src="{{ exercise.exercise.media }}" alt="exercice {{ exercise.exercise.title }}" width="150">
                    </div>

                    {# Timer #}
                    <div class="block-content exercise">
                        {% if exercise.quantity > 1 %}
                            <p class="d-flex flex-row align-items-center">
                                <i class="fas fa-times"></i> {{ exercise.quantity }}
                            </p>
                        {% endif %}
                        <div class="timer__background">
                            <div class="timer__display">
                                <span class="display minute"></span>
                                <span class="display colon">:</span>
                                <span class="display secondes"></span>
                            </div>
                        </div>
                    </div>

                    <div class="number-exercise">
                        <div class="block-number">
                            <div class="number">
                                {% if cart.items.count > 0 %}
                                    Exercice {{ counter }}/{{ cart.total }}
                                {% else %}
                                    Exercice 0/0
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="timer-input d-none">
            <div class="input__container">
                <label for="inp-minute">Minutes</label>
                <input type="text" id="inp-minute" value={{ exercise.time|date('i') }} />
            </div>
            <div class="input__container">
                <label for="inp-seconds">Seconds</label>
                <input type="text" id="inp-seconds" value={{ exercise.time|date('s') }} />
            </div>
        </div>
    </div>

    <div id="break" class="d-none">
        <h1 class="bandeau">Repos</h1>
        <div class="container">
            <div id="session" class="row">
                <div class="col-12">
                    <div class="block-content">
                        <p>
                            <span>00:20</span>
                        </p>
                        <p class="go">
                            <i class="fas fa-arrow-right"></i>
                            Passer
                        </p>
                    </div>

                    <div class="number-exercise">
                        <div class="block-number">
                            <div class="number">
                                {% set counter = ( counter | default(0) ) + 1 %}

                                {% if cart.items.count > 0 %}
                                    Prochain {{ counter }}/{{ cart.total }}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}
