{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <h1 class="bandeau">Nous contacter</h1>

    <div class="container">
        <div id="exercise" class="row">
            <div class="col-12 text-center">

                {% include '_partials/_flashbag.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.email) }}
                {{ form_row(form.message) }}

                    <button class="btn btn-white" type="submit">
                        Envoyer ma demande
                        <i class="far fa-caret-square-right"></i>
                    </button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
