{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <h1>Formulaire de contact :</h1>

    {% include '_partials/_flashbag.html.twig' %}

    <div class="col-sm-12">
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_row(form.nom) }}
        </div>
        <div class="form-group">
            {{ form_row(form.email) }}
        </div>
        <div class="form-group">
            {{ form_row(form.message) }}
        </div>
        <div class="form-group">
            <input type="submit" value="Envoyer" class="btn btn-primary py-3 px-5">
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
