<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon" />
        {% endblock %}
    </head>
    <body>
        <div id="page-container">
            <div id="header" class="{% if app.request.get('_route') == 'session_show' %}session-show{% endif %}"
                 style="background-image:url('{{ asset('build/images/decoration/deco_header.svg') }}')">
                {% if app.request.get('_route') == 'session_show' %}
                {% else %}
                <div id="cart">
                    <a href="{{ path('session_index') }}" id="link-cart" class="btn">
                        <i class="fas fa-running"></i>
                        <div>
                            {% if cart.items.count > 0 %}
                                ({{ cart.total }})
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endif %}

                {% include 'layout/header.html.twig' %}

                {% include 'layout/navigation.html.twig' %}
            </div>

            {% block body %}{% endblock %}

            {% include 'layout/footer.html.twig' %}
        </div>
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
