{#{% if app.request.get('_route') == 'session_show' %}
    <div id="navigation" class="bg-primary">
        <nav class="nav">
            #}{#<div class="menu">
                <i class="fas fa-volume-mute"></i>
            </div>#}{#
            <a class="nav-link disabled{% if app.request.get('_route') == 'domain_index' %}active{% endif %}" href="{{ path('domain_index') }}">
                <i class="fas fa-step-backward"></i>
            </a>
            #}{#<div class="buttons">
                <div id="play">
                    <i class="fas fa-play"></i>
                </div>
                <div id="pause"class="d-none">
                    <i class="fas fa-pause"></i>
                </div>
            </div>#}{#
            <div class="buttons">
                <div id="play" class="start">
                    <i class="fas fa-play"></i>
                </div>
                <div id="pause" class="d-none">
                    <i class="fas fa-pause"></i>
                </div>
                #}{#<div class="pause-resume-cancel none">
                    <div id="pause" class="btn pause-resume d-none">
                        <i class="fas fa-pause"></i>
                    </div>
                </div>#}{#
            </div>
            <a class="nav-link {% if app.request.get('_route') == 'app_profil' %}active{% endif %}" href="{{ path('app_profil') }}">
                <i class="fas fa-step-forward"></i>
            </a>
            #}{#<a class="nav-link {% if app.request.get('_route') == 'app_login' %}active{% endif %}" href="{{ path('app_account_login') }}">
                <div class="menu">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </a>#}{#
        </nav>
        <div class="bordure"></div>
    </div>
    #}{#<div class="jumbotron text-center">
        <div class="timer">
            <span class="minutes">
              00
            </span>
            :
            <span class="seconds">
              00
            </span>
        </div>
    </div>#}{#
{% else %}#}
<div id="navigation" class="bg-primary">
    <nav class="nav">
        <a class="nav-link {% if app.request.get('_route') == 'app_home' %}active{% endif %}" aria-current="page" href="{{ path('app_home') }}">
            <div class="menu">
                <i class="fas fa-home"></i>
                <div class="mobile">
                    Accueil
                </div>
            </div>
            <div class="bordure-pink"></div>
        </a>
        <a class="nav-link {% if app.request.get('_route') == 'domain_index' %}active{% endif %}" href="{{ path('domain_index') }}">
            <div class="menu">
                <i class="fas fa-child"></i>
                <div class="mobile">
                    Séances
                </div>
            </div>
            <div class="bordure-pink"></div>
        </a>
        <a class="nav-link {% if app.request.get('_route') == 'category_index' %}active{% endif %}" href="{{ path('category_index') }}">
            <div class="menu">
                <i class="fas fa-heartbeat"></i>
                <div class="mobile">
                    Séances complètes
                </div>
            </div>
            <div class="bordure-pink"></div>
        </a>
        {% if app.user %}
            <a class="nav-link {% if app.request.get('_route') == 'app_profil' %}active{% endif %}" href="{{ path('app_profil') }}">
                <div class="menu">
                    <i class="fas fa-user-cog"></i>
                    <div class="mobile">
                        Mon espace
                    </div>
                </div>
                <div class="bordure-pink"></div>
            </a>
        {% else %}
            <a class="nav-link {% if app.request.get('_route') == 'app_register' %}active{% endif %}" href="{{ path('app_register') }}">
                <div class="menu">
                    <i class="fas fa-user-cog"></i>
                    <div class="mobile">
                        Mon compte
                    </div>
                </div>
                <div class="bordure-pink"></div>
            </a>
        {% endif %}

    </nav>
    <div class="bordure"></div>
</div>
{#
{% endif %}#}
